<div class="row content vertical-align">
    <div class="col-lg-12">
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th class="col-xs-4">Original url</th>
                    <th class="col-xs-3">Short url</th>
                    <th class="col-xs-2">Click count</th>
                    <th class="col-xs-3">Date created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let urlRecord of urlRecords">
                    <td class="col-xs-4">{{urlRecord.originalUrl}}</td>
                    <td class="col-xs-3">{{urlRecord.shortUrl}}</td>
                    <td class="col-xs-2">{{urlRecord.clickCount}}</td>
                    <td class="col-xs-3">{{urlRecord.dateCreated}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
