<div class="row vertical-center">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-4">Original url</th>
                    <th class="col-xs-3">Short url</th>
                    <th class="col-xs-2">Click count</th>
                    <th class="col-xs-3">Date created</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let urlRecord of urlRecords">
                    <td class="col-xs-4"><a href="{{urlRecord.originalUrl}}" target="_blank">{{urlRecord.originalUrl}}</a></td>
                    <td class="col-xs-3"><a href="{{urlRecord.shortUrl}}" target="_blank">{{urlRecord.shortUrl}}</a></td>
                    <td class="col-xs-2">{{urlRecord.clickCount}}</td>
                    <td class="col-xs-3">{{urlRecord.dateCreated}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
