<div class="row vertical-center">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" [(ngModel)]="url" class="form-control" placeholder="http://www.example.com" />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" [ngClass]="{disabled : isProcessing}" (click)="!isProcessing && minify(url)">Minify</button>
            </span>
        </div>
        <div class="input-group text-center width100" *ngIf="shortUrl">
            <p>Result: <a href="{{shortUrl}}" target="_blank">{{shortUrl}}</a></p>
        </div>
    </div>
</div>