<div class="row content vertical-align">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="input-group">
            <input type="text" [(ngModel)]="url" class="form-control" placeholder="http://www.example.com" />
            <span class="input-group-btn">
                <button class="btn btn-primary" (click)="minify(url)" type="button">Minify</button>
            </span>
            <p>Result: {{shortUrl}}</p>
        </div>
    </div>
</div>